html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-search {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}
.breadcrumb {
    margin-top: 20px;
    background-color: #CDDC39;
    padding: 0px 10px;
    border-radius: 6px;
}
.breadcrumb-item.active {
    color: black!important;
    font-weight: bold!important;
}
.breadcrumb-item{
    color:white;
}